<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения (раскомментируй при необходимости) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="OnTime"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnTimeApp">

        <!-- Главный экран -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="OnTime"
            android:theme="@style/Theme.OnTimeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Экран временной ленты -->
        <activity
            android:name=".TimelineActivity"
            android:exported="false"
            android:label="Timeline"
            android:theme="@style/Theme.OnTimeApp" />

        <!-- Экран редактирования/создания заметки -->
        <activity
            android:name=".EditNoteActivity"
            android:exported="false"
            android:label="Edit Note"
            android:theme="@style/Theme.OnTimeApp" />

        <!-- Если используешь FileProvider для обмена/сохранения файлов -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>